@import "tailwindcss";

body {
  font-family:'Times New Roman', Times, serif;

}

.circleImg {
  background-image: url("/cityskylinestoronto.jpg");
  background-size: cover;
  background-position: center;
}

.asfalt {
    background-image: url("/axiom-pattern.png");
  background-repeat: repeat;
  background-size: auto;
}

