@import "tailwindcss";

body {
  font-family:'Times New Roman', Times, serif;

}

.circleImg {
  background-image: url("/cityskylinestoronto.jpg");
  background-size: cover;
  background-position: center;
}

.asfalt {
    background-image: url("/axiom-pattern.png");
  background-repeat: repeat;
  background-size: auto;
}

.wheel {
  background-color: black;
  width: 17vw;
  height: 65vh;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


